@import "../variables.scss";

.subscript {
  background-color: #f2f2f2;
  color: $main-color;

  &__icon {
     color: $main-color;
   }

  &__placeholder {

    &::placeholder {
      color: #b4b4b4;
    }

    &:focus {
      outline: none;
      border-color: #ced4da;
      box-shadow: none;
    }
  }

  &__btn {
    color: $main-color;
  }
}